<section class="hero-with-side-image">
    <div class="contentCol">
        <h1>Hero With Side Image</h1>
            <div class="sub">
                <div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="buttonBlock">
                <a href="#">Link</a>
            </div>
    </div>
    <picture>
        <!-- Add your image here -->
        <img
            src="https://impression-studio.vercel.app/_next/image?url=https%3A%2F%2Fdan-payload-test.s3.eu-west-1.amazonaws.com%2Fdan-payload-test%2Fcareers.jpg&w=1920&q=75"
            alt="Show + Tell"
        />
    </picture>
</section>