<section class="hero-with-side-image">
    <div class="contentCol">
        <h1>Hero With Side Image</h1>
            <div class="sub">
                <div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="buttonBlock">
                <a href={link.url} label={link.label}>Link</a>
            </div>
    </div>
    <picture>
        <!-- Add your image here -->
        <!-- <img
            src={image.url}
            alt={image.alt}
            width={image.width}
            height={image.height}
        /> -->
    </picture>
</section>